.users .title {
  color: var(--N1, #353b42);
  font-family: Quicksand;
  font-size: 30px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  margin-bottom: 45px;
}

.users .unverified {
  border-radius: 21px;
  background: var(--N2, #f5faff);
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.25);
}
.users .person {
  color: var(--N1, #353b42);
  font-family: Quicksand;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.users .arrow {
  color: var(--P1, #e42e35);
  text-align: right;
  font-family: Quicksand;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.table {
  border-collapse: collapse;
}
.table th {
  background-color: #e42e35;
}
.table tr:nth-child(even) {
  background-color: #e2e4e7;
}
.table tr:nth-child(odd) {
  background-color: #FBFBFB;
}

.table th {
  color: var(--N2, #f5faff);
  font-family: Quicksand;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 10px;
  width: calc(100%/7);
}
.table .body {
  font-size: 14px;
}
.table .body tr td {
  padding: 12px;
}