.home ul .option {
  border-radius: 21px;
  background: var(--N2, #f5faff);
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.25);
  width: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  color: #353b42;
  font-size: 15px;
  font-weight: 700;
}

.home .popular {
  background: var(--N2, #f5faff);
  /* box-shadow: 0px 4px 42px 7px rgba(0, 0, 0, 0.10); */
  background: var(--N2, #f5faff);
  border-radius: 24px;
  margin-bottom: 25px;
}

.home .popular .info {
  opacity: 0.6;
  background: var(
    --N1,
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    #353b42
  );
  display: flex;
  height: 100%;
  width: 191px;
  padding: 17px 6px;
  flex-direction: column;
  align-items: center;
  gap: 33px;
  flex-shrink: 0;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  position: relative;
  z-index: 2;

}

.home .popular button.price {
  border-radius: 12px;
  background: var(--N2, #f5faff);
  box-shadow: 0px 4px 42px 7px rgba(0, 0, 0, 0.15);
  color: #e42e35;
  font-size: 14px;
  padding: 5px 15px;
  font-weight: 700;
}
.home .popular button.type {
  border-radius: 12px;
  background: var(--N2, #f5faff);
  box-shadow: 0px 4px 42px 7px rgba(0, 0, 0, 0.15);
  font-size: 14px;
  padding: 5px 15px;
  color: #000;
  font-weight: 700;
}
.home .swiper-slide {
  /* flex-shrink: 0; */
  /* width: 45% !important; */
  position: relative;
  transition-property: transform;
  display: block;
  left: -28px;
  /* padding: 10px !important; */
}
