
.welcome .uranus {
  border-radius: 21px;
  background: var(--N2, #f5faff);
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.25);
}

.welcome .uranus .logo {
  display: flex;
  width: 300px;
  margin: auto;
  padding: 0px 0px 0.001px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.welcome .uranus .form-login button {
  width: 250px;
  flex-shrink: 0;
  border-radius: 10px;
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 10px;
}

.welcome .uranus .form-login .login {
  background: var(--P1, #e42e35);
  color: var(--N2, #f5faff);
}

.welcome .uranus .form-login .signup {
  background: var(--N2, #f5faff);
  color: var(--N1, #353b42);
  font-family: Quicksand;
}

.left {
  width: 100%;
  height: 100%;
}
.left img {
  position: relative;
  background-size: cover;
  top: 15px;
  width: 100%;
  height: 431px !important;
}

 .left .swiper-slide {
    width: 100% !important;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 8px);
  /* top: var(--swiper-pagination-top, auto); */
  left: 0;
  width: 100%;
  bottom: 40px;
  z-index: 9999999;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 8px);
  width: 10px;
  height: 10px;
  z-index: 9999999;
}

.swiper-pagination-bullet {
  background-color: #fff;
  z-index: 9999999;
}

.swiperr {
  position: relative;
}
.swiperr h2 {
  position: absolute;
  top: 90px;
  left: 65px;
  color: var(--N2, #f5faff);
  font-family: Quicksand;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
 .swiperr p {
  position: absolute;
  bottom: 30px;
  left: 65px;
  color: var(--N2, #f5faff);
  font-family: Quicksand;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 200px;
}
