.account .points {
  border-radius: 12px;
  opacity: 0.95;
  background: var(--N2, #f5faff);
  box-shadow: 0px 4px 33px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
}

.account .my-cars {
  border-radius: 12px;
  opacity: 0.95;
  background: var(--N2, #f5faff);
  box-shadow: 0px 4px 33px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
}

.account .info {
  border-radius: 12px;
  opacity: 0.95;
  background: var(--N2, #f5faff);
  box-shadow: 0px 4px 33px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  padding: 7px 25px;
}

.account .popup {
  border-radius: 21px;
  background: #f5faff;
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.25);
}
.account .popup .website {
  border-radius: 21px;
  background: var(--N2, #f5faff);
  box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.15);
  padding: 8px 20px;
  margin-top: 15px;
}
.account .popup .social {
  background: var(--N2, #f5faff);
  box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.15);
}
.account .popup .close {
  background: var(
    --N1,
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    #353b42
  );
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.25);
}

.PhoneInput {
  display: flex;
  align-items: center;
  position: relative;
  left: 4px;
  width: 93% !important;
}

.PhoneInputCountry {
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  margin-right: var(--PhoneInputCountrySelect-marginRight);
  height: 41px;
  border: 2px solid rgba(62, 63, 67, 0.6);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-right: none !important;
  left: 6px;
  padding: 9px;
}

.PhoneInputInput {
  position: relative;
  height: 41px !important;
  flex: 1 !important;
  min-width: 0 !important;
  border: 2px solid rgba(62, 63, 67, 0.6);
  /* width: 390px !important; */
  border-top-right-radius: 12px !important;
  border-bottom-right-radius: 12px !important;
  border-top-left-radius: 0px !important ;
  border-bottom-left-radius: 0px !important ;
  border-left: none !important;
  background-color: #f5faff;
  font-size: 14px;

}

.PhoneInputInput:focus {
  outline: none;
}

/* .account
  .css-fq06t1-MuiFormControl-root-MuiTextField-root
  .MuiOutlinedInput-root
  fieldset {
  border: 2px solid rgba(62, 63, 67, 0.6) !important;
  border-radius: 8px !important;
} */
.account .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 9px 14px !important;
}



.account .css-fq06t1-MuiFormControl-root-MuiTextField-root {
  box-shadow: none !important;

}



.account .css-15zfxb1-MuiFormControl-root-MuiTextField-root .MuiOutlinedInput-root fieldset {
   border: 2px solid rgba(62, 63, 67, 0.6) !important;
    border-radius: 6px;
}

