
 .login-page  .uranus  .logo {
  display: flex;
  width: 200px;
  margin: auto;
  padding: 0px 0px 0.001px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}


  .login-page .uranus {
  border-radius: 21px;
  background: var(--N2, #f5faff);
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.25);
}

  .login-page .uranus .form-login button {
  width: 250px;
  flex-shrink: 0;
  border-radius: 10px;
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 10px;
}


 

  .login-page .uranus .form-login  .login {
  background: var(--P1, #e42e35);
  color: var(--N2, #f5faff);
}


  .login-page .uranus .form-login  .signup {
  background: var(--N2, #f5faff);
  color: var(--N1, #353b42);
  font-family: Quicksand;
}


.login-page  .form {
  flex-shrink: 0;
  border-radius: 21px;
  background: var(--N2, #f5faff);
  box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.25);
}

.login-page  .form h2 {
  color: var(--N1, #353B42);
text-align: center;
font-family: Quicksand;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: normal;
}


/* .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
padding: 14px 14px !important;

} */

/* .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
   border: 2px solid rgba(62, 63, 67, 0.60) !important;
}
 */

